body {
    color: blue;
    background-color: blanchedalmond;
}
header{
    display: flex;
    background-color: black;
    margin-top: 3%;
    padding: 1%;
    /* text-align:center; */
   justify-content: center;
    
}
header a {
    color: antiquewhite;
    font-size: larger;
}
nav {
    justify-content: space-evenly;
    padding: 1%;
}